
.demo2-bg{
    background: url(./pc11.jpg);
    background-size: cover;
    width: 100vw;
    height: 50vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
  }
  .demo2{
    font-family:'Jacques Francois Shadow';
    text-shadow: 6px 6px 0px white;
    position: absolute;
    font-size: 3em;
   
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    line-height: 40vh;
    text-align: center;
    
    background:rgba(0,0,0,0.8);
    background-size: cover;
  }
  
  
 


.box{width:30vw; text-align:center;float: left;margin-right: 3vw;}

.box img {width:30vw;display: block;height:50vh;background-size: cover;margin-right: 1vw;}

.box p{
   font-size:1.5em;
  font-family:cursive;
  display:none;
}

.box:hover p{
    font-size:1.5em;
   font-family:cursive;
  
   display: block;
 }

img.pc1:hover{
  

}




div.abouttest{
   font-size: 3em;
   font-weight: bold;
   color:white;
    font-family: 'Dancing Script', cursive;
    width:50vw;
}


img.logo1{
    height: 40vh;
    width:25%;
    margin-right:2vw ;
    display:block;
    float:left;
    
      
    }

    img.logo2{
        height: 40vh;
      width:25%;
      margin-right:2vw ;
      display:block;
      float:left;
      
        
          
        }


        img.logo3{
            height: 40vh;
            width:25%;
            margin-right:2vw ;
            display:block;
            float:left;
            
            
              
            }



            